<form id="formContact" name="formContact">
  <fieldset>
    <legend>Coordonnées</legend> <!--le nom donné au formulaire-->
    <div>
      <label for="name">Nom : </label><input type="text" name="name" id="name" ng-model="name" ng-pattern="/^[a-zA-ZÂ-ÿ- ']+$/" required />
      <div ng-messages="formContact.name.$error" ng-if="formContact.name.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
        <p class="hasError" ng-message="required">Le champ est obligatoire</p> <!--ce message est affiché uniquement si le champ n'a pas été rempli (car on a utilisé required comme attribut dans l'input, il est donc obligatoire)-->
        <p class="hasError" ng-message="pattern">Le nom saisi est incorrect</p> <!-- ce message est affiché uniquement si le champ ne correspond pas au pattern qui a été défini dans "ng-pattern" de l'input-->
      </div>
    </div>
    <div>
      <label for="email">E-mail : </label><input type="text" name="email" id="email" ng-model="email" ng-pattern="/^[a-z0-9.-_]+@[a-z0-9.-]+\.([a-z]){2,6}$/"  required />
      <div ng-messages="formContact.email.$error" ng-if="formContact.email.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
        <p class="hasError" ng-message="required">Le champ est obligatoire</p> <!--ce message est affiché uniquement si le champ n'a pas été rempli (car on a utilisé required comme attribut dans l'input, il est donc obligatoire)-->
        <p class="hasError" ng-message="pattern">L'adresse email saisi est incorrect</p> <!-- ce message est affiché uniquement si le champ ne correspond pas au pattern qui a été défini dans "ng-pattern" de l'input-->
      </div>
    </div>
    <div>
      <label for="subject">Sujet : </label><input type="text" name="subject" id="subject" ng-model="subject" required />
      <div ng-messages="formContact.subject.$error" ng-if="formContact.subject.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
        <p class="hasError" ng-message="required">Le champ est obligatoire</p>
      </div>
    </div>
    <div>
      <label for="textsubject">Texte : </label><textarea name="textsubject" id="textsubject" ng-model="textsubject" required ></textarea>
      <div ng-messages="formContact.textsubject.$error" ng-if="formContact.textsubject.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
        <p class="hasError" ng-message="required">Le champ est obligatoire</p>
      </div>
    </div>
    <input type="submit" name="sendForm" ng-click="clickedButton()" ng-disabled="formContact.$invalid"/> <!--désactive le bouton lorsque le formulaire est invalide (invalid renvoie true si ce n'est pas valide, donc ng-disabled est activé)-->
  </fieldset> <!-- le "ng-click" du boutton au dessus permet de lancer la fonction "clickedButton()" (si c'est une fonction qu'on veut lancer, ne pas oublier les parenthèes à la fin pour bien indiquer que s'en est une)-->
</form>
<div>
  <ol> <!--permet d'aller chercher une des lignes du tableau-->
    <li ng-repeat="information in formsArray"><a href="#!{{$index}}">{{information.subject}}</a></li> <!--va chercher la colonne "subject", dans chacune des lignes du tableau (une ligne = information)-->
  </ol>                                       <!--le $index correspond à l'index de la ligne information dans le tableau formsArray-->
</div>
